
.ez-uploader__backdrop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
}

.ez-uploader__backdrop, .ez-uploader__backdrop * {
  box-sizing: border-box;
  font-family: sans-serif;
}

.ez-uploader__modal {
  max-width: 900px;
  margin: 50px auto 0 auto;
  background: white;
  box-shadow: 0px 0px 3px 1px black;
  min-height: 500px;
  border-radius: 3px;
}

.ez-uploader__modal-header {
  padding: 15px;
  border-bottom: 1px solid #dedede;
  position: relative;
}

.ez-uploader__modal-title {
  font-size: 20px;
}

.ez-uploader__modal-cross {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 5px;
  width: 2.5em;
  height: 2.5em;
  opacity: 0.5;
  cursor: pointer;
}

.ez-uploader__modal-cross-line {
  font-size: inherit;
  position: absolute;
  content: ' ';
  height: 3em;
  width: 2px;
  background-color: #333;
  left: 1em;
  cursor: pointer;
}

.ez-uploader__modal-cross-line:nth-child(odd) {
  transform: rotate(45deg);
}

.ez-uploader__modal-cross-line:nth-child(even) {
  transform: rotate(-45deg);
}

.ez-uploader__modal-cross:hover, .ez-uploader__modal-cross--active {
  opacity: 1;
}

.ez-uploader__modal-body {
  height: 500px;
  padding: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}

.ez-uploader__modal-file {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dedede;
  height: 75px;
  display: flex;
}

.ez-uploader__modal-file-image {
  width: 75px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  background: #3498db;

  img {
    max-height: 100%;
  }
}
.ez-uploader__modal-file-text {
  flex-grow: 1;
  padding: 10px;
}
.ez-uploader__modal-file-name {
  margin-bottom: 5px;
}
.ez-uploader__modal-file-description {
  opacity: 0.8;
}
.ez-uploader__modal-file-options {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ez-uploader__modal-footer {
  border-top: 1px solid #dedede;
  display: flex;
  justify-content: space-between;
}

.ez-uploader__modal-footer-left {
  padding: 15px;
  display: inline-block;
  text-align: left;
}

.ez-uploader__modal-footer-left .ez-uploader__modal-button {
  margin-right: 10px;
}

.ez-uploader__modal-footer-right {
  padding: 15px;
  display: inline-block;
  text-align: right;
}

.ez-uploader__modal-footer-right .ez-uploader__modal-button {
  margin-left: 10px;
}

.ez-uploader__modal-button {
  padding: 10px 15px;
  color: white;
  background: darkgrey;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  transition: all 150ms;
}

.ez-uploader__modal-button:hover {
  background: #797979;
}

.ez-uploader__modal-button-blue {
  background: #2980b9;
}

.ez-uploader__modal-button-blue:hover {
  background: #176496;
}

.ez-uploader__modal-button-lightblue {
  background: #3498db;
}

.ez-uploader__modal-button-lightblue:hover {
  background: #2980b9;
}

.ez-uploader__modal-button-red {
  background: #e74c3c;
}

.ez-uploader__modal-button-red:hover {
  background: #c0392b;
}

.ez-uploader__modal-button-wet-asphalt {
  background: #34495e;
}

.ez-uploader__modal-button-wet-asphalt:hover {
  background: #2c3e50;
}

.ez-uploader__modal-icon-button {
  font-size: 20px;
  padding: 5px;
  cursor: pointer;
  transition: all 150ms;
  color: darkgrey;
  margin-left: 10px;
}
.ez-uploader__modal-icon-button:hover {
  color: #797979;
}
.ez-uploader__modal-icon-button-red {
  color: #e74c3c;
}
.ez-uploader__modal-icon-button-red:hover {
  color: #c0392b;
}
.ez-uploader__modal-icon-button-wet-asphalt {
  color: #34495e;
}
.ez-uploader__modal-icon-button-wet-asphalt:hover {
  color: #2c3e50;
}